<markus.frosch@icinga.com> <markus.frosch@netways.de>
<markus.frosch@icinga.com> <markus@lazyfrosch.de>
<michael.friedrich@icinga.com> <michael.friedrich@netways.de>
Eric Lippmann <eric.lippmann@icinga.com> <eric.lippmann@netways.de>
Eric Lippmann <eric.lippmann@icinga.com> <lippserd@googlemail.com>
<johannes.meyer@icinga.com> <johannes.meyer@netways.de>
