@color-priority-emergency: #ff2200;
@color-priority-emergency-fg: white;
@color-priority-alert: #ff4400;
@color-priority-alert-fg: white;
@color-priority-critical: #ff6600;
@color-priority-critical-fg: white;
@color-priority-error: #ff8800;
@color-priority-error-fg: white;
@color-priority-warning: #ffaa44; // same as @color-warning
@color-priority-warning-fg: #6d572b;
@color-priority-notice: #44bb77; // same as @color-ok;
@color-priority-notice-fg: white;
@color-priority-information: #aaaaff;
@color-priority-information-fg: #32486d;
@color-priority-debug: #ccc;
@color-priority-debug-fg: #333;

.events-table {
  border-collapse: separate;
  border-spacing: 0 1px;
}

.ack-col {
  color: @icinga-blue;
}

.priority-col {
  border-left: 5px solid;
  padding: 0;
  width: 0;

  &.emergency {
    border-left-color: @color-priority-emergency;
  }

  &.critical {
    border-left-color: @color-priority-critical;
  }

  &.alert {
    border-left-color: @color-priority-alert;
  }

  &.error {
    border-left-color: @color-priority-error;
  }

  &.warning {
    border-left-color: @color-priority-warning;
  }

  &.notice {
    border-left-color: @color-priority-notice;
  }

  &.information {
    border-left-color: @color-priority-information;
  }

  &.debug {
    border-left-color: @color-priority-debug;
  }
}

.comment-link {
  .button-link();

  margin-top: 0.5em;
}

.quick-filter-controls {
  margin-top: 0.5em;
  text-align: center;
}

.ack-filter-form {
  margin-left: 0.5em;
}

.severity-filter-form {
  .control-label-group {
    display: none;
  }

  .control-group {
    display: inline-block;
    padding: 0;
  }

  .active {
    font-weight: bold;
  }

  .emergency.active {
    background-color: @color-priority-emergency;
    border-color: @color-priority-emergency;
    color: @color-priority-emergency-fg;
  }

  .alert.active {
    background-color: @color-priority-alert;
    border-color: @color-priority-alert;
    color: @color-priority-alert-fg;
  }

  .critical.active {
    background-color: @color-priority-critical;
    border-color: @color-priority-critical;
    color: @color-priority-critical-fg;
  }

  .error.active {
    background-color: @color-priority-error;
    border-color: @color-priority-error;
    color: @color-priority-error-fg;
  }

  .warning.active {
    background-color: @color-priority-warning;
    border-color: @color-priority-warning;
    color: @color-priority-warning-fg;
  }

  .notice.active {
    background-color: @color-priority-notice;
    border-color: @color-priority-notice;
    color: @color-priority-notice-fg;
  }

  .information.active, .info.active {
    background-color: @color-priority-information;
    border-color: @color-priority-information;
    color: @color-priority-information-fg;
  }

  .debug.active {
    background-color: @color-priority-debug;
    border-color: @color-priority-debug;
    color: @color-priority-debug-fg;
  }
}

.events-table .event-message {
  max-width: 60em;
}
